$red:           #C60007 !default;
$bule:          #548CD1 !default;
$orange:        #F98700 !default;
$yellow:        #F0B500 !default;
$gray:          #929292 !default;
$dark:          #1A1A1A !default;
$red-button:    #B40000 !default;
$yellow-button: #F0B500 !default;
// $gray-bg:       #F7F7F7 !default;
$gray-bg:       #F3F3F3 !default;
$dark-bg:       rgba(0, 0, 0, 0.8) !default;
$gray-line:     #B3B3B3 !default;
$white-line:    #CBCBCB !default;
$gray-icon:     #666666 !default;
